<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Fonix_CustomAddress>
            <version>1.0.0</version>
        </Fonix_CustomAddress>
    </modules>
    <admin>
        <fieldsets>
            <customer_dataflow>
                <complement>
                    <billing>1</billing>
                    <shipping>1</shipping>
                </complement>

                <neighborhood>
                    <billing>1</billing>
                    <shipping>1</shipping>
                </neighborhood>
            </customer_dataflow>
        </fieldsets>
    </admin>
    <global>
        <models>
            <custom_address>
                <class>Fonix_CustomAddress_Model</class>
            </custom_address>
        </models>
        <resources>
            <custom_address_setup>
                <setup>
                    <module>Fonix_CustomAddress</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </custom_address_setup>
            <custom_address_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </custom_address_write>
            <custom_address_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </custom_address_read>
        </resources>
        <fieldsets>
            <sales_copy_order_billing_address>
                <complement><to_order>*</to_order></complement>
            </sales_copy_order_billing_address>
            <sales_copy_order_shipping_address>
                <complement><to_order>*</to_order></complement>
            </sales_copy_order_shipping_address>
            <sales_convert_quote_address>
                <complement><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></complement>
            </sales_convert_quote_address>
            <sales_convert_order_address>
                <complement><to_quote_address>*</to_quote_address></complement>
            </sales_convert_order_address>
            <customer_address>
                 <complement><to_quote_address>*</to_quote_address></complement>
            </customer_address>
            <checkout_onepage_billing>
                <complement><to_customer>*</to_customer></complement>
            </checkout_onepage_billing>

            <sales_copy_order_billing_address>
                <neighborhood><to_order>*</to_order></neighborhood>
            </sales_copy_order_billing_address>
            <sales_copy_order_shipping_address>
                <neighborhood><to_order>*</to_order></neighborhood>
            </sales_copy_order_shipping_address>
            <sales_convert_quote_address>
                <neighborhood><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></neighborhood>
            </sales_convert_quote_address>
            <sales_convert_order_address>
                <neighborhood><to_quote_address>*</to_quote_address></neighborhood>
            </sales_convert_order_address>
            <customer_address>
                 <neighborhood><to_quote_address>*</to_quote_address></neighborhood>
            </customer_address>
            <checkout_onepage_billing>
                <neighborhood><to_customer>*</to_customer></neighborhood>
            </checkout_onepage_billing>
        </fieldsets>
    </global>
</config>